[Unit]
Description=Monitor Docker events and update /etc/hosts
After=docker.service
Requires=docker.service
Wants=docker.service

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/local/bin/docker_etc_hosts --clean; docker events --filter event=start --filter event=die --format "{{.Type}}" | while read -r _; do /usr/local/bin/docker_etc_hosts --clean; done'
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
